*{ margin: 0;  padding: 0; }

body{
	font-family: helvetica; 
	font-size: 15px; 
	color:#333;
}

header{
	height: 100px; 
	background-color: #262626;
	text-align: left;

}

footer{
	height: 70px; 
	background-color: #262626;
	color: #aac70e;
	text-align: center;
	padding: 15px 0 ;
	text-shadow: 2px 2px 2px #111;
}

h1{
	text-align: center;
}
img{
	height: 80px;
}

#menu{
	float: right;
	padding-top: 10px;
	padding: 35px 0;
}

#menu a{
	color:#aac70e;
	text-decoration: none;
	padding: 40px 30px;
	text-shadow: 2px 2px 2px #111;
}

#menu a:hover{
	background-color:#333;
}
.container{
	margin: 0 auto;
	width: 960px;
}

#conteudo {
	padding: 100px 0;
}
